html {
  box-sizing: border-box;
  font-family: "Open Sans";
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 50em;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  display: inline;
}

.text-container {
  max-width: 585px;
}

p {
  font-style: italic;
  font-size: 2rem;
}
