html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans";
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  max-width: 50em;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}

p {
  font-style: italic;
  font-size: 2rem;
}
